<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<main style="display: block; margin-left: auto; margin-right: auto; margin-top: 100px;
margin-bottom: 100px">
  {% if validlink %}
  <p style="text-transform: uppercase; color: #333; letter-spacing: 1.4px; font-weight: 500;">Поменять пароль</p>
  <form method="post" style="display: block; margin-left: auto; margin-right: auto; margin-top: 100px;
  margin-bottom: 100px">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" style="justify-content: center; text-transform: uppercase; background-color: #1f2126;
        color: #fff; letter-spacing: 0.8px; width: 30%;">Поменять пароль
    </button>
  </form>
  {% else %}
  <p>
    Ссылка на смену пароля недействителен, возможно она уже была использована. Пожалуйста, запросите новую ссылку.
  </p>
  {% endif %}
</main>
</body>
</html>