{% extends 'base.html' %}
{% load static %}

{% block content %}
{{ object.username }}
<br>
{{ object.email }}
<br>
{{ user_data.first_name }} {{ user_data.last_name }}<br>
{{ user_data.email }}<br>
{{ user_data.phone_number }}<br>

{% if user_data.avatar %}
<img src="{{ user_data.avatar.url }}" alt="img"
     style="width:auto;height:auto;max-width:200px;max-height:200px"/>
{% else %}
<img src="{% static 'avatar_pic.jpg' %}" alt="img" width="200" height="200"/>
{% endif %}
<br><br>
<div>You can change or add your data <a href="{% url 'profile' %}">here</a></div>
{% endblock content %}